doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="css/style.min.css")
        title Document
    body 
        .wrapper 
            include components/header 
            +header 
            main.main 
                section.section.section_1(data-video="#video1")
                    .section__container.container
                        .section__content
                            h1.section__title Venice
                            h2.section__subtitle Fun Hub of Damac Lagoons
                            .section__video
                                video(loop autoplay muted)
                                    source(src="files/video-1.mp4" type="video/mp4")
                            p.section__p From the gondola rides and waterside cases to the live <b>entertaiment area</b>, Venice comes alive at Damac Lagoons in ways unimagined. Embrace the Venetian day of life at the fun hub, inspired by the art and design of the city.
                            .adv 
                                .adv__item
                                    span.adv__item-title 20%
                                    span.adv__item-p Down payment
                                .adv__item
                                    span.adv__item-title AED 4 900 000
                                    span.adv__item-p Starting Price
                                .adv__item
                                    span.adv__item-title 6 and 7
                                    span.adv__item-p Bedroom Villas
                                .adv__item
                                    span.adv__item-title 4066 sq. ft.
                                    span.adv__item-p Villa minimal area
                            a(href="#!").section__link Get a price list 
                                <svg width="30" height="30" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M5.875 11.25L5 10.375L7.875 7.5L5 4.625L5.875 3.75L9.625 7.5L5.875 11.25Z" fill="#333333"/>
                                </svg>
                section.section.section_2(data-video="#video2")
                    .section__container.container
                        .section__content
                            h1.section__title Santorini
                            h2.section__subtitle Fun Hub of Damac Lagoons
                            .section__video
                                video(loop autoplay muted)
                                    source(src="files/video-2.mp4" type="video/mp4")
                            p.section__p From the gondola rides and waterside cases to the live <b>entertaiment area</b>, Venice comes alive at Damac Lagoons in ways unimagined. Embrace the Venetian day of life at the fun hub, inspired by the art and design of the city.
                            .adv 
                                .adv__item
                                    span.adv__item-title 20%
                                    span.adv__item-p Down payment
                                .adv__item
                                    span.adv__item-title AED 4 900 000
                                    span.adv__item-p Starting Price
                                .adv__item
                                    span.adv__item-title 6 and 7
                                    span.adv__item-p Bedroom Villas
                                .adv__item
                                    span.adv__item-title 4066 sq. ft.
                                    span.adv__item-p Villa minimal area
                            a(href="#!").section__link Get a price list 
                                <svg width="30" height="30" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M5.875 11.25L5 10.375L7.875 7.5L5 4.625L5.875 3.75L9.625 7.5L5.875 11.25Z" fill="#333333"/>
                                </svg>
                section.section.section_3(data-video="#video3")
                    .section__container.container
                        .section__content
                            h1.section__title Costa Brava
                            h2.section__subtitle Fun Hub of Damac Lagoons
                            .section__video
                                video(loop autoplay muted)
                                    source(src="files/video-3.mp4" type="video/mp4")
                            p.section__p From the gondola rides and waterside cases to the live <b>entertaiment area</b>, Venice comes alive at Damac Lagoons in ways unimagined. Embrace the Venetian day of life at the fun hub, inspired by the art and design of the city.
                            .adv 
                                .adv__item
                                    span.adv__item-title 20%
                                    span.adv__item-p Down payment
                                .adv__item
                                    span.adv__item-title AED 4 900 000
                                    span.adv__item-p Starting Price
                                .adv__item
                                    span.adv__item-title 6 and 7
                                    span.adv__item-p Bedroom Villas
                                .adv__item
                                    span.adv__item-title 4066 sq. ft.
                                    span.adv__item-p Villa minimal area
                            a(href="#!").section__link Get a price list 
                                <svg width="30" height="30" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M5.875 11.25L5 10.375L7.875 7.5L5 4.625L5.875 3.75L9.625 7.5L5.875 11.25Z" fill="#333333"/>
                                </svg>
                section.section.section_4(data-video="#video4")
                    .section__container.container
                        .section__content
                            h1.section__title Nice
                            h2.section__subtitle Fun Hub of Damac Lagoons
                            .section__video
                                video(loop autoplay muted)
                                    source(src="files/video-4.mp4" type="video/mp4")
                            p.section__p From the gondola rides and waterside cases to the live <b>entertaiment area</b>, Venice comes alive at Damac Lagoons in ways unimagined. Embrace the Venetian day of life at the fun hub, inspired by the art and design of the city.
                            .adv 
                                .adv__item
                                    span.adv__item-title 20%
                                    span.adv__item-p Down payment
                                .adv__item
                                    span.adv__item-title AED 4 900 000
                                    span.adv__item-p Starting Price
                                .adv__item
                                    span.adv__item-title 6 and 7
                                    span.adv__item-p Bedroom Villas
                                .adv__item
                                    span.adv__item-title 4066 sq. ft.
                                    span.adv__item-p Villa minimal area
                            a(href="#!").section__link Get a price list 
                                <svg width="30" height="30" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M5.875 11.25L5 10.375L7.875 7.5L5 4.625L5.875 3.75L9.625 7.5L5.875 11.25Z" fill="#333333"/>
                                </svg>
                section.section.section_5(data-video="#video5")
                    .section__container.container
                        .section__content
                            h1.section__title Malta
                            h2.section__subtitle Fun Hub of Damac Lagoons
                            .section__video
                                video(loop autoplay muted)
                                    source(src="files/video-5.mp4" type="video/mp4")
                            p.section__p From the gondola rides and waterside cases to the live <b>entertaiment area</b>, Venice comes alive at Damac Lagoons in ways unimagined. Embrace the Venetian day of life at the fun hub, inspired by the art and design of the city.
                            .adv 
                                .adv__item
                                    span.adv__item-title 20%
                                    span.adv__item-p Down payment
                                .adv__item
                                    span.adv__item-title AED 4 900 000
                                    span.adv__item-p Starting Price
                                .adv__item
                                    span.adv__item-title 6 and 7
                                    span.adv__item-p Bedroom Villas
                                .adv__item
                                    span.adv__item-title 4066 sq. ft.
                                    span.adv__item-p Villa minimal area
                            a(href="#!").section__link Get a price list 
                                <svg width="30" height="30" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M5.875 11.25L5 10.375L7.875 7.5L5 4.625L5.875 3.75L9.625 7.5L5.875 11.25Z" fill="#333333"/>
                                </svg>
                section.section.section_6(data-video="#video6")
                    .section__container.container
                        .section__content
                            h1.section__title Portofino
                            h2.section__subtitle Fun Hub of Damac Lagoons
                            .section__video
                                video(loop autoplay muted)
                                    source(src="files/video-6.mp4" type="video/mp4")
                            p.section__p From the gondola rides and waterside cases to the live <b>entertaiment area</b>, Venice comes alive at Damac Lagoons in ways unimagined. Embrace the Venetian day of life at the fun hub, inspired by the art and design of the city.
                            .adv 
                                .adv__item
                                    span.adv__item-title 20%
                                    span.adv__item-p Down payment
                                .adv__item
                                    span.adv__item-title AED 4 900 000
                                    span.adv__item-p Starting Price
                                .adv__item
                                    span.adv__item-title 6 and 7
                                    span.adv__item-p Bedroom Villas
                                .adv__item
                                    span.adv__item-title 4066 sq. ft.
                                    span.adv__item-p Villa minimal area
                            a(href="#!").section__link Get a price list 
                                <svg width="30" height="30" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M5.875 11.25L5 10.375L7.875 7.5L5 4.625L5.875 3.75L9.625 7.5L5.875 11.25Z" fill="#333333"/>
                                </svg>
                .video 
                    .video__track
                        .video__item#video1
                            video(loop autoplay muted)
                                source(src="files/video-1.mp4" type="video/mp4")
                        .video__item#video2
                            video(loop autoplay muted)
                                source(src="files/video-2.mp4" type="video/mp4")
                        .video__item#video3
                            video(loop autoplay muted)
                                source(src="files/video-3.mp4" type="video/mp4")
                        .video__item#video4
                            video(loop autoplay muted)
                                source(src="files/video-4.mp4" type="video/mp4")
                        .video__item#video5
                            video(loop autoplay muted)
                                source(src="files/video-5.mp4" type="video/mp4")
                        .video__item#video6
                            video(loop autoplay muted)
                                source(src="files/video-6.mp4" type="video/mp4")
            include components/footer 
            +footer 
        script(src="js/app.min.js") 